# Temporary Files
*.sw[mnopl]
tags
*~
*.session.vim

# Build
__pycache__/
dist/
build/
*.egg*
*cpython*.so
*.py[co]
*.[ao]
*.aux
*.bb[lg]
wiki/msa.md.png

# Volatile project file
.pymake-errors
.pmk/

repo/ml/ID

# Doc
doc/html/
doc/graph/

# Data
repo/*/.pmk-db.db
repo/*/data/lib/
repo/*/data/lut/
repo/*/data/*/results/
repo/*/data/*/training/
repo/*/data/plot/
!repo/*/data/plot/Makefile
!repo/*/data/plot/backsync.sh
!repo/*/data/plot/filter.py

# Repo
repo/ml/data/**/*.zip
repo/ml/data/**/*.tgz
repo/ml/data/**/*.gz
repo/docsearch/data/tfidf/

