# Temporary Files
*.sw[mnopl]
*.py[co]
*.[ao]
tags
*.out
*~
*.session.vim
*.byobu

results/

data/*/*/**
data/**/*.zip
data/**/*.tgz
data/**/*.gz

pymake/utils/stirling.pk
pymake/utils/stirling.npy
pymake/ID

src/.seed.pk
