# Temporary Files
*.sw[mnopl]
*.py[co]
*.[ao]
tags
*~
*.session.vim
*.byobu

*.egg-info/
*.egg-info
/build/
/dist/

results/*
!results/Makefile
!results/backsync.sh
!results/filter.py
doc/html/
doc/graph/

data/*/*/**
data/**/*.zip
data/**/*.tgz
data/**/*.gz

pymake/scripts/private/

stirling.pk
stirling.npy
pymake/ID
pymake/TODO.md

