terminal
tabulate
Whoosh
scikit-learn
numpy
scipy
networkx 
nltk
matplotlib
#pandas
#plotly ?
#pystan ?
#pymc ?
#gensim ?
#edward ?
#opencv ?
#python-pygraphviz ?
#python-louvain ?
#    // pip install hg+https://bitbucket.org/taynaud/python-louvain
#    // hg clone https://bitbucket.org/taynaud/python-louvain
