tabulate
termcolors
numpy
scipy
networkx 
nltk
matplotlib
//plotly
scikit-learn
Whoosh
sympy
pystan ?
pymc ?
gensim ?
python-pygraphviz ?
python-louvain ?
    // pip install hg+https://bitbucket.org/taynaud/python-louvain
    // hg clone https://bitbucket.org/taynaud/python-louvain
