###########################
#                         #
#   Pymake Config File.   #
#                         #
###########################

project_name = ml
username = pmk

### Global Path for data storage
#project_data = /media/dtrckd/TOSHIBA EXT/pymake/data/
project_data = data/
project_figs = data/plot/figs/
project_stirling = data/lut/

### Lookup Modules
default_spec = ml.spec
default_script = ml.script
default_model = ml.model

### Third-Party Modules.
#contrib_model = mla, sklearn.decomposition

### Project Settings Grammar.
# Use to specify custom command line options whith pymake.
gramarg = ml.gramarg

### Remote Options and configurations
# Used when `--net' options is used.

# Config file of gnu-parallel for remote computing.
loginfile = ~/src/config/configure/nodeslist

# Remote dir position for gnu-parallel
remote_pwd = /home/ama/adulac/workInProgress/networkofgraphs/process/pymake/repo/ml/


