from pymake import ExpDesign, ExpSpace, ExpTensor, ExpGroup



class $${projectname}_demo_spec(ExpDesign):

    demo_expe = ExpSpace(test=42)

    demo_design = ExpTensor(test=[42, 43])

    demo_group = ExpGroup([demo_expe, demo_design])
